/* OEM Font Embed */
@font-face {
font-family: "Stratum-Light";
font-style: normal;
font-weight: 100;
src: url("https://brands.gm-cdn.com/gbds/gmc/fonts/stratum-light.woff2") format("woff2"), url("https://brands.gm-cdn.com/gbds/gmc/fonts/stratum-light.woff") format("woff")
}

@font-face {
font-family: "Stratum-Medium";
font-style: normal;
font-weight: 500;
src: url("https://brands.gm-cdn.com/gbds/gmc/fonts/stratum-medium.woff2") format("woff2"), url("https://brands.gm-cdn.com/gbds/gmc/fonts/stratum-medium.woff") format("woff")
}

@font-face {
font-family: "Stratum-Black";
font-style: normal;
font-weight: 900;
src: url("https://brands.gm-cdn.com/gbds/gmc/fonts/stratum-black.woff2") format("woff2"), url("https://brands.gm-cdn.com/gbds/gmc/fonts/stratum-black.woff") format("woff")
}

@font-face {
font-family: "Muli";
font-style: normal;
font-weight: 500;
src: url("https://brands.gm-cdn.com/gbds/gmc/fonts/muli-webfont.woff2") format("woff2"), url("https://brands.gm-cdn.com/gbds/gmc/fonts/muli-webfont.woff") format("woff")
}

@font-face {
font-family: "Muli-Bold";
font-style: normal;
font-weight: 700;
src: url("https://brands.gm-cdn.com/gbds/gmc/fonts/muli-bold-webfont.woff2") format("woff2"), url("https://brands.gm-cdn.com/gbds/gmc/fonts/muli-bold-webfont.woff") format("woff")
}
/* OEM Font Embed */



/* OEM Font */
.acs-wrapper, .acs-oem-brand { 
font-family: "Muli", sans-serif !important;
font-weight: 500;
}
/* OEM Font */



/* Heading Tags */
.acs-h1, .acs-h2, .acs-h3, .acs-h4, .acs-h5, .acs-h6 {
font-family: "Stratum-Black", sans-serif;
font-weight: 900;
line-height: 1.2;
}

.acs-h1 {
font-size: 2rem;
}

.acs-h2 {
font-size: 1.8rem;
}

.acs-h3 {
font-size: 1.6rem;
}

.acs-h4 {
font-size: 1.4rem;
}

.acs-h5 {
font-size: 1.2rem;
}

.acs-h6 {
font-size: 1.1rem;
}

/* Larger than phablet */
@media (min-width: 575px) {
.acs-h1 {
font-size: 2.5rem !important;
}

.acs-h2 {
font-size: 2.2rem !important;
}

.acs-h3 {
font-size: 1.8rem !important;
}

.acs-h4 {
font-size: 1.6rem !important;
}

.acs-h5 {
font-size: 1.4rem !important;
}

.acs-h6 {
font-size: 1.2rem !important;
}
}
/* Heading Tags */



/* OEM Font Variables */
.gmc-brand-bd {
font-family: "Muli-Bold" !important; 
font-weight: 700 !important;
}

.gmc-brand-head-lt {
font-family: "Stratum-Light" !important;
font-weight: 100 !important;
}

.gmc-brand-head-md {
font-family: "Stratum-Medium" !important;
font-weight: 400 !important;
}

.gmc-brand-head-bk {
font-family: "Stratum-Black" !important;
font-weight: 500 !important;
}

.acs-bold {
font-family: var(--bold-font) !important;   
font-weight: 900;
}
/* OEM Font Variables */



/* Variables */
.acs-wrapper, .acs-oem-brand {
--accent: #c00;
--accent2: #a00;
--accent3: #CB2026;
--accent4: #a80111;
--black: #000000; 
--white: #ffffff; 
--gray: #EBEBEB;
--gray2: #D4D4D4;
--gray3: #B2B2B2; 
--dark: #464646; 
--dark2: #3d3d3d; 
--dark3: #2F2E2E;
--dark4: #060505;
--dark5: #2a292a;
--dark6: #302F2F;
--bold-font: "Stratum-Black", sans-serif;
}
/* Variables */



/* Text Colors */
.acs-black {
color: var(--black) !important
}
.acs-white {
color: var(--white) !important
}
.acs-gray {
color: var(--gray) !important
}
.acs-gray2 {
color: var(--gray2) !important
}
.acs-gray3 {
color: var(--gray3) !important
}
.acs-dark {
color: var(--dark) !important
}
.acs-dark2 {
color: var(--dark2) !important
}
.acs-dark3 {
color: var(--dark3) !important
}
.acs-dark4 {
color: var(--dark4) !important
}
.acs-dark5 {
color: var(--dark5) !important
}
.acs-dark6 {
color: var(--dark6) !important
}
/* Text Colors */



/* Accent Colors */
.acs-accent {
color: var(--accent) !important
}
.acs-accent2 {
color: var(--accent2) !important
}
.acs-accent3 {
color: var(--accent3) !important
}
.acs-accent4 {
color: var(--accent4) !important
}
/* Accent Colors */



/* BG Colors */
.acs-bg-accent {
--acs-bg-opacity: 1;
background-color: var(--accent);
background-color: rgba(204,0,1, var(--acs-bg-opacity))
}
.acs-bg-accent2 {
--acs-bg-opacity: 1;
background-color: var(--accent2);
background-color: rgba(170,0,1, var(--acs-bg-opacity))
}
.acs-bg-accent3 {
--acs-bg-opacity: 1;
background-color: var(--accent3);
background-color: rgba(203,32,38, var(--acs-bg-opacity))
}
.acs-bg-accent4 {
--acs-bg-opacity: 1;
background-color: var(--accent4);
background-color: rgba(168,1,16, var(--acs-bg-opacity))
}
.acs-bg-gray {
--acs-bg-opacity: 1;
background-color: var(--gray);
background-color: rgba(235,235,235, var(--acs-bg-opacity))
}
.acs-bg-gray2 {
--acs-bg-opacity: 1;
background-color: var(--gray2);
background-color: rgba(212,212,212, var(--acs-bg-opacity))
}
.acs-bg-gray3 {
--acs-bg-opacity: 1;
background-color: var(--gray3);
background-color: rgba(178,178,178, var(--acs-bg-opacity))
}
.acs-bg-dark {
--acs-bg-opacity: 1;
background-color: var(--dark);
background-color: rgba(70,70,70, var(--acs-bg-opacity))
}
.acs-bg-dark2 {
--acs-bg-opacity: 1;
background-color: var(--dark2);
background-color: rgba(60,61,60, var(--acs-bg-opacity))
}
.acs-bg-dark3 {
--acs-bg-opacity: 1;
background-color: var(--dark3);
background-color: rgba(47,46,46, var(--acs-bg-opacity))
}
.acs-bg-dark4 {
--acs-bg-opacity: 1;
background-color: var(--dark4);
background-color: rgba(6,5,5, var(--acs-bg-opacity))
}
.acs-bg-dark5 {
--acs-bg-opacity: 1;
background-color: var(--dark5);
background-color: rgba(42,42,42, var(--acs-bg-opacity))
}
.acs-bg-dark6 {
--acs-bg-opacity: 1;
background-color: var(--dark6);
background-color: rgba(48,47,47, var(--acs-bg-opacity))
}
/* BG Colors */



/* Link Accent */
.acs-link-accent {
color: var(--accent) !important;
text-decoration: none;
transition: all 0.2s ease-in-out 0s;
}
.acs-link-accent:hover {
color: var(--accent4) !important; 
}
/* Link Accent */



/* BUTTONS: START */
/* Button 1 */
.acs-button {
font: 700 1.5rem "Muli-Bold", sans-serif;
background-color: transparent;
display: inline-block;
text-align: center;
color: var(--accent) !important;
border: solid 2px var(--accent);
text-decoration: none !important;
padding: 1rem;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: 2px;
min-width: 180px;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1)
}
.acs-button:hover {
background-color: var(--accent4);
color: var(--white) !important;
border: solid 2px var(--accent4)
}

.acs-button2 {
font: 700 1.5rem "Muli-Bold", sans-serif;
background-color: transparent;
display: inline-block;
text-align: center;
color: var(--dark5) !important;
border: solid 2px var(--dark5);
text-decoration: none !important;
padding: 1rem;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: 2px;
min-width: 180px;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1)
}
.acs-button2:hover {
background-color: var(--dark5);
color: var(--white) !important;
border: solid 2px var(--dark5)
}

.acs-button3 {
font: 700 1.5rem "Muli-Bold", sans-serif;
background-color: transparent;
display: inline-block;
text-align: center;
color: var(--white) !important;
border: solid 2px var(--white);
text-decoration: none !important;
padding: 1rem;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: 2px;
min-width: 180px;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1)
}
.acs-button3:hover {
background-color: var(--white);
color: var(--dark6) !important;
border: solid 2px var(--white)
}

.acs-button4 {
font: 700 1.5rem "Muli-Bold", sans-serif;
background-color: var(--accent);
display: inline-block;
text-align: center;
color: var(--white) !important;
border: solid 2px var(--accent);
text-decoration: none !important;
padding: 1rem;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: 2px;
min-width: 180px;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1)
}
.acs-button4:hover {
background-color: var(--accent4);
color: var(--white) !important;
border: solid 2px var(--accent4)
}

.acs-button5 {
font: 700 1.5rem "Muli-Bold", sans-serif;
background-color: var(--dark5);
display: inline-block;
text-align: center;
color: var(--white) !important;
border: solid 2px var(--dark5);
text-decoration: none !important;
padding: 1rem;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: 2px;
min-width: 180px;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1)
}
.acs-button5:hover {
background-color: var(--dark4);
color: var(--white) !important;
border: solid 2px var(--dark4)
}

.acs-button6 {
font: 700 1.5rem "Muli-Bold", sans-serif;
background-color: var(--white);
display: inline-block;
text-align: center;
color: var(--dark5) !important;
border: solid 2px var(--white);
text-decoration: none !important;
padding: 1rem;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: 2px;
min-width: 180px;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1)
}
.acs-button6:hover {
background-color: var(--dark5);
color: var(--white) !important;
border: solid 2px var(--dark5)
}

.acs-button7 {
font: 700 1.5rem "Muli-Bold", sans-serif;
background-color: transparent;
display: inline-block;
text-align: center;
color: var(--white) !important;
border: solid 2px var(--accent);
text-decoration: none !important;
padding: 1rem;
line-height: 1;
text-transform: uppercase;
font-size: .8125rem;
letter-spacing: 2px;
min-width: 180px;
transition-duration: .25s;
transition-timing-function: cubic-bezier(0,1,0.5,1)
}
.acs-button7:hover {
background-color: var(--accent);
color: var(--white) !important;
border: solid 2px var(--accent)
}
/* BUTTONS: END */
